<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Usuários</ion-title>
</ion-navbar>

<ion-content>
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-left>
          <img src="img/kevin.png">
        </ion-avatar>
        <h2>Kevin</h2>
      </ion-item>
      <ion-item-options>
        <button primary>
          <ion-icon name="create"></ion-icon>
          Alterar
        </button>
        <button danger>
          <ion-icon name="trash"></ion-icon>
          Excluir
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-left>
          <img src="img/frodo.png">
        </ion-avatar>
        <h2>Frodo</h2>
      </ion-item>
      <ion-item-options>
        <button primary>
          <ion-icon name="create"></ion-icon>
          Alterar
        </button>
        <button danger>
          <ion-icon name="trash"></ion-icon>
          Excluir
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
