<ion-navbar *navbar primary>
  <ion-title>Editor Tagarela</ion-title>
</ion-navbar>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input [(ngModel)]="username" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>

  </ion-list>

  <button class="button button-block button-positive" (click)="login()">Entrar</button>

</ion-content>


