<ion-navbar *navbar class="card-background-page">
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-title [hidden]="!symbolPage">Novo Símbolo</ion-title>
  <ion-title [hidden]="symbolPage">Novo Jogo</ion-title>

  <ion-buttons end>
    <button (click)="dismiss()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content padding class="card-background-page">

  <ion-list>

    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-card (click)="takePicture()">
      <img [src]="base64Image">
      <div class="card-title">Toque para trocar a imagem de fundo</div>
      <div class="card-subtitle"></div>
    </ion-card>

    <ion-card [hidden]="!symbolPage">
      <ion-card-title>
        <bold>
          Aúdio
        </bold>
      </ion-card-title>


      <ion-row>
        <ion-col>
          <button block secondary (click)="saveGame()">
            <ion-icon name="mic"></ion-icon>
            Gravar
          </button>
        </ion-col>
        <ion-col>
          <button block danger (click)="saveGame()">
            <ion-icon name="play"></ion-icon>
            Escutar
          </button>
        </ion-col>
      </ion-row>
    </ion-card>

  </ion-list>

  <button block (click)="saveGame()">Salvar</button>
</ion-content>
