<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <!-- TODO Alterar para o nome do game -->
  <ion-title>Corpo Humano</ion-title>
</ion-navbar>

<ion-content no-padding>
  <ion-row no-padding center height="80%">
    <ion-col no-padding center>
      <img [src]="game.background" width="100%" height="100%">
    </ion-col>
  </ion-row>

  <ion-row no-padding center height="20%" [hidden]="currentSymbol">
    <ion-col width-25 *ngFor="#symbol of symbols">
      <img [src]="symbol.image" [posX]="symbol.posX" [posY]="symbol.posY" currentX="0" currentY="0" drag-with-reset>
    </ion-col>
  </ion-row>

  <button fab blue fab-bottom fab-right class="fab-footer" (click)="openSymbolRegister()" [hidden]="currentSymbol">
    <ion-icon name="add"></ion-icon>
  </button>

  <ion-row no-padding center height="20%" [hidden]="!currentSymbol">
    <ion-col offset-33 width-25 center>
      <img #newSymbol [src]="currentSymbol.image" posX="10" posY="100" currentX="0" currentY="0" action="new" drag>
    </ion-col>
  </ion-row>

  <button fab secondary fab-bottom fab-right class="fab-footer" (click)="saveSymbolPosition()" [hidden]="!currentSymbol">
    <ion-icon name="checkmark"></ion-icon>
  </button>

</ion-content>
