<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Jogo</ion-title>
</ion-navbar>

<ion-content padding class="dashboard">

  <ion-row center wrap responsive-sm>
    <ion-col width-25 *ngFor="#game of games">
      <img [src]="game.background" width="100%" height="100%" (click)="openGame(game)">
    </ion-col>
  </ion-row>

  <button fab blue fab-bottom fab-right class="fab-footer" (click)="openGameRegister()">
    <ion-icon name="add"></ion-icon>
  </button>
  <div class="bar-footer"></div>

</ion-content>
