<ion-menu [content]="content" id="leftMenu" side="left">

  <ion-toolbar primary>
    <ion-title>Menu</ion-title>
  </ion-toolbar>

  <ion-content>
    <ion-list>
      <button ion-item *ngFor="#p of pages" (click)="openPage(p)">
        {{p.getTitle()}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPageMenu" #content swipe-back-enabled="false"></ion-nav>

